{#<!DOCTYPE html>#}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="OneTech shop project">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href = "{% static "css/bootstrap4/bootstrap.min.css" %}">
{#<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">#}
<link rel="stylesheet" type="text/css" href = "{% static "css/regular_styles.css"%}">
<link rel="stylesheet" type="text/css" href = "{% static "css/regular_responsive.css"%}">
{% block link %} {% endblock link %}

</head>

<body>

<div class="super_container">

	<!-- Header -->

	<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static 'images/phone.png'%}" alt=""></div>+7 908 475 84 **</div>
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static 'images/mail.png'%}" alt=""></div><a href="mailto:fastsales@gmail.com">lito66@mail.ru</a></div>
						<div class="top_bar_content ml-auto">
{#							<div class="top_bar_menu">#}
{#								<ul class="standard_dropdown top_bar_dropdown">#}
{#									<li>#}
{#										<a href="#">English<i class="fas fa-chevron-down"></i></a>#}
{#										<ul>#}
{#											<li><a href="#">Italian</a></li>#}
{#											<li><a href="#">Spanish</a></li>#}
{#											<li><a href="#">Japanese</a></li>#}
{#										</ul>#}
{#									</li>#}
{#									<li>#}
{#										<a href="#">$ US dollar<i class="fas fa-chevron-down"></i></a>#}
{#										<ul>#}
{#											<li><a href="#">EUR Euro</a></li>#}
{#											<li><a href="#">GBP British Pound</a></li>#}
{#											<li><a href="#">JPY Japanese Yen</a></li>#}
{#										</ul>#}
{#									</li>#}
{#								</ul>#}
{#							</div>#}
							<div class="top_bar_user">
{#								<div class="user_icon"><img src="{% static 'images/user.png'%}" alt=""></div>#}

                                {% if user.is_authenticated %}
                                         <div>
                                             <a  href="{% url 'profile' %}">профиль  </a> |
                                             <a  href="{% url 'logout' %}"> выход</a></div>
                                            <h4> {{ user.username }}</h4>
                                {% else %}
                                        <div><a href="{% url 'login' %}">вход</a> |
                                        <a  href="{% url 'register' %}">регистрация</a></div>
                                {% endif %}



							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Main -->

		<div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="#">LitoShop</a></div>
						</div>
					</div>

					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search">
							<div class="header_search_content">
								<div class="header_search_form_container">
									<form action="#" class="header_search_form clearfix">
										<input type="search" required="required" class="header_search_input" placeholder="Поиск...">
										<div class="custom_dropdown">
											<div class="custom_dropdown_list">
												<span class="custom_dropdown_placeholder clc">Все категории</span>
												<i class="fas fa-chevron-down"></i>
												<ul class="custom_list clc">
													<li><a class="clc" href="#">Все категории</a></li>
													<li><a class="clc" href="#">Худи</a></li>
													<li><a class="clc" href="#">Футболка</a></li>
													<li><a class="clc" href="#">Кепка</a></li>
													<li><a class="clc" href="#">#4</a></li>
													<li><a class="clc" href="#">#5</a></li>
												</ul>
											</div>
										</div>
										<button type="submit" class="header_search_button trans_300" value="Submit"><img src="{% static "images/search.png" %}" alt=""></button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Wishlist -->
					<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
						<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
							<div class="wishlist d-flex flex-row align-items-center justify-content-end">
								<div class="wishlist_icon"><img src="{% static "images/heart.png" %}" alt=""></div>
								<div class="wishlist_content">
									<div class="wishlist_text"><a href="{% url 'wishlist' %}">Желания</a></div>
									<div class="wishlist_count">0</div>
								</div>
							</div>

							<!-- Cart -->
							<div class="cart">
								<div class="cart_container d-flex flex-row align-items-center justify-content-end">
									<div class="cart_icon">
										<img src="{% static "images/cart.png" %}" alt="">

										<div class="cart_count"><span>10</span></div>
									</div>
									<div class="cart_content">
										<div class="cart_text"><a href="{% url 'cart' %}">Корзина</a></div>
										<div class="cart_price">0</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->

							<div class="cat_menu_container">
								<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
									<div class="cat_burger"><span></span><span></span><span></span></div>
									<div class="cat_menu_text">категории</div>
								</div>

                                {% block menu_category %}
                                {% endblock %}
							</div>

							<!-- Main Nav Menu -->

							<div class="main_nav_menu ml-auto">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a href={% url 'index' %}>Главная<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="#">Акции<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="blog.html">Блог<i class="fas fa-chevron-down"></i></a></li>
									<li><a href="contact.html">Контакты<i class="fas fa-chevron-down"></i></a></li>
								</ul>
							</div>

							<!-- Menu Trigger ?????-->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>

			</header>

{# Основной контент страницы<#}
{% block content %}

{% endblock %}

	<!-- Newsletter -->

	<div class="newsletter">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
						<div class="newsletter_title_container">
							<div class="newsletter_icon"><img src="{% static 'images/send.png'%}" alt=""></div>
							<div class="newsletter_title">Подписаться на рассылку</div>
						</div>
						<div class="newsletter_content clearfix">
							<form action="#" class="newsletter_form">
								<input type="email" class="newsletter_input" required="required" placeholder=" email ...">
								<button class="newsletter_button">Подписаться</button>
							</form>
							<div class="newsletter_unsubscribe_link"><a href="#">отписаться</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">LitoShop</a></div>
						</div>
						<div class="footer_title">Есть вопрос? Позвоните нам 24/7</div>
						<div class="footer_phone">+7 908 475 84 **</div>
						<div class="footer_contact_text">
							<p>Ulyanovsk</p>
							<p>NewSisy, RU</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fab fa-twitter"></i></a></li>
								<li><a href="#"><i class="fab fa-youtube"></i></a></li>
								<li><a href="#"><i class="fab fa-google"></i></a></li>
								<li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">Обслуживание клиентов</div>
						<ul class="footer_list">
							<li><a href="#">Мой счет</a></li>
							<li><a href="#">Отслеживание заказа</a></li>
							<li><a href="#">Желания</a></li>
							<li><a href="#">Обслуживание клиентов</a></li>
							<li><a href="#">Возврат/обмен</a></li>
						</ul>
					</div>
				</div>
                </div>
			</div>
	</footer>

<script src={% static "js/jquery-3.3.1.min.js"%}></script>
<script src={% static "styles/bootstrap4/popper.js"%}></script>
<script src={% static "styles/bootstrap4/bootstrap.min.js"%}></script>
<script src={% static "plugins/greensock/TweenMax.min.js"%}></script>
<script src={% static "plugins/greensock/TimelineMax.min.js"%}></script>
<script src={% static "plugins/scrollmagic/ScrollMagic.min.js"%}></script>
<script src={% static "plugins/greensock/animation.gsap.min.js"%}></script>
<script src={% static "plugins/greensock/ScrollToPlugin.min.js"%}></script>
<script src={% static "plugins/easing/easing.js"%}></script>
<script src={% static "js/regular_custom.js"%}></script>
</div>
</body>

</html>